html {
  scroll-behavior: smooth;
}
body {
  font-family: 'Open Sans', sans-serif;
  /* background-color: #F2F3F4; */
  /* background-color: #fff; */
  color: #071013;
  /* padding-top: 100px; */
  background: rgb(242,243,244);
/* background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(242,243,244,1) 50%, rgba(255,255,255,1) 100%); */
background: radial-gradient(circle, rgba(242,243,244,1) 0%, rgba(255,255,255,1) 50%, rgba(242,243,244,1) 100%);
}
/* body::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
  background: rgba(255,75,31,.5);
  background: -webkit-linear-gradient(to bottom, rgba(31,221,255,.8), rgba(255,75,31,.8));
  background: linear-gradient(to bottom, rgba(31,221,255,.8), rgba(255,75,31,.8));
  overflow: auto;
} */
.overlay {
  /* background: rgba(255,75,31,.5);
  background: -webkit-linear-gradient(to bottom, rgba(31,221,255,.8), rgba(255,75,31,.8));
  background: linear-gradient(to bottom, rgba(31,221,255,.8), rgba(255,75,31,.8)); */
  background: rgb(0,97,147);
  background: linear-gradient(180deg, rgba(0,97,147,.5) 0%, rgba(246,137,33,.5) 100%);
  min-height: 75vh;
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Oswald', sans-serif;
  color: #fff;
  font-weight: 300;
}
.bg-white h1, .bg-white h2, .bg-white h3, .bg-white h4, .bg-white h5, .bg-white h6, .bg-light-gradient h1, .bg-light-gradient h2, .bg-light-gradient h3 {
  color: #006193;
}
.navbar {
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
}
.navbar-brand {
  font-family: 'Oswald', sans-serif;
  font-weight: 600;
  font-size: 4rem;
  letter-spacing: 1px;
  padding: 0 15px;
  height: auto;
}
@media (min-width: 768px) {
  /* .navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
    margin-left: 0;
  } */
  .navbar-nav > li > a {
    font-size: 1.5rem;
    padding: 1.4rem;
  }
  .meni {
    float:none;
    margin: 0 auto;
    display: table;
    table-layout: fixed;
  }
  .meni-profil > li > a {
    padding-top: 0;
    padding-bottom: 0;
  }
}
/* .navbar-brand img {
  width: 200px;
} */
.navbar-default .navbar-brand {
  color: #26547C;
}
.navbar-nav > li > a {
  font-weight: 600;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.navbar-default .navbar-nav > li > a, .navbar-default .navbar-nav > li > a:focus {
  color: #006193;
}
.navbar-default .navbar-nav > li > a:hover {
  color: #F68921
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  color: #F68921;
  background: transparent;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
  color: #F68921;
  background: transparent;
}
.navbar-nav .avatar img {
  width: 5rem;
  margin-left: 1rem;
  border-radius: 50%;
}
.notifikacii {
  font-size: 1rem;
  margin-top: 1rem;
}
#notificationCounter {
  position: absolute;
  display: block;
  top: -1rem;
  right: .5rem;
}
.badge-danger {
  background-color: #a94442;
}
.navbar-default .btn-link {
  color: #006193;
}
.navbar-default .btn-link:hover, .navbar-default .btn-link:focus {
  color: #26547C;
}
.dropdown-menu > li > a {
  color: #006193;
  font-weight: bold;
}
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
  text-decoration: none;
  color: #F68921;
  background-color: #f5f5f5;
}
#notificationsList {
  max-height: 250px;
  overflow-y: scroll;
}
#markAllread {
  position: sticky;
  display: block;
  right: 0;
  bottom: -5px;
  left: 0;
  background: #fff;
  padding-top: 10px;
}
#app {
  padding-top: 76px;
}
.bg-home {
  /* height: calc(100vh - 100px); */
  height: 100vh;
  background: url('/storage/upload/web/home.jpg'), rgba(237,203,150,.2);
  /* background: url('/storage/upload/web/home.jpg'), rgba(237,203,150,.2); */
  background-size: cover;
  background-position: top right;
  background-repeat: no-repeat;
  /* background-blend-mode: overlay; */
  margin-top: -76px;
}
.bg-home::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  /* background: rgba(255,75,31,.5);
  background: -webkit-linear-gradient(to bottom, rgba(31,221,255,.8), rgba(255,75,31,.8));
  background: linear-gradient(to bottom, rgba(31,221,255,.8), rgba(255,75,31,.8)); */
  background: rgb(0,97,147);
  background: linear-gradient(180deg, rgba(0,97,147,.25) 0%, rgba(246,137,33,.25) 100%);
}
.home-content {
  position: absolute;
  bottom: 10vh;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  width: 100%;
}
.home-content h1, .home-content h2 {
  color: #fff;
  font-weight: 600;
  text-shadow: 3px 3px 5px #000;
}
.home-content h2 {
  font-size: 3rem;
  margin-bottom: 0;
}
h1 {
  font-size: 5rem;
  letter-spacing: .25rem;
  margin-bottom: 3rem;
}
h2 {
  font-size: 5rem;
  margin-bottom: 3rem;
}
.home-content form {
  margin-top: 5vh;
}
.pocetna {
  position: relative;
  min-height: 55vh;
}
.tekst-pocetna {
  position: absolute;
  display: block;
  top: 50%;
  left: 35%;
  transform: translate(-35%,-50%);
  z-index: 2;
}
.slika1-pocetna {
  position: absolute;
  display: block;
  right: 0;
  /* width: 75rem; */
  height: 100%;
  z-index: 1;
  /* background-image: url('/storage/upload/web/pocetna.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; */
}
.btn {
  font-weight: 600;
  white-space: normal;
}
.btn-primary {
  color: #fff;
  background-color: #006193;
  border-color: #006193;
}
.btn-primary:hover {
  color: #fff;
  background-color: #F68921;
  border-color: #F68921;
}
.btn-secondary {
  color: #fff;
  background-color: #F68921;
  border-color: #F68921;
}
.btn-secondary:hover {
  color: #fff;
  background-color: #006193;
  border-color: #006193;
}
.btn-link {
  color: #006193;
}
.btn-link:hover {
  color: #F68921;
}
.pb-1, .py-1 {
  padding-bottom: 1rem!important;
}
.pt-1, .py-1 {
  padding-top: 1rem!important;
}
.p-1 {
  padding: 1rem!important;
}
.pb-2, .py-2 {
  padding-bottom: 2rem!important;
}
.pt-2, .py-2 {
  padding-top: 2rem!important;
}
.p-2 {
  padding: 2rem!important;
}
.p-3 {
  padding: 3rem!important;
}
.p-5 {
  padding: 5rem!important;
}
.pl-5, .px-5 {
  padding-left: 5rem!important;
}
.pr-5, .px-5 {
  padding-right: 5rem!important;
}
.pl-4, .px-4 {
  padding-left: 4rem!important;
}
.pr-4, .px-4 {
  padding-right: 4rem!important;
}
.pb-5, .py-5 {
  padding-bottom: 5rem!important;
}
.pt-5, .py-5 {
  padding-top: 5rem!important;
}
.pb-4, .py-4 {
  padding-bottom: 4rem!important;
}
.pt-4, .py-4 {
  padding-top: 4rem!important;
}
.pb-3, .py-3 {
  padding-bottom: 3rem!important;
}
.pt-3, .py-3 {
  padding-top: 3rem!important;
}
.mb-5, .my-5 {
  margin-bottom: 5rem!important;
}
.mt-5, .my-5 {
  margin-top: 5rem!important;
}
.bg-primary {
  background-color: #006193;
  color: inherit;
}
.bg-secondary {
  background-color: #F68921;
  color: inherit;
}
.bg-primary-50 {
  background-color: rgba(0,97,147,.5);
  color: inherit;
}
.bg-primary-70 {
  background-color: rgba(0,97,147,.7);
  color: inherit;
}
.bg-secondary-70 {
  background-color: rgba(246,137,33,.7);
  color: inherit;
}
.popularno h2 {
  color: #fff;
}
.panel-default .panel-title {
  color: #006193;
  font-size: 2rem;
}
.panel-popularno {
  font-family: 'Oswald', sans-serif;
}
.panel-popularno p {
  margin-bottom: 0;
}
.panel-popularno .cena {
  color: #006193;
  float: right;
}
.panel-popularno .cena::after {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f054";
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  float: right;
  margin-left: 15px;
  color: #071013;
  opacity: .25;
}
a {
  color: #006193;
  text-decoration: none;
}
a:hover {
  color: #F68921;
  text-decoration: none;
}
.owl-vozisomene .owl-prev, .owl-vozisomene .owl-nav button.owl-prev {
  width: 30px;
  height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: -10px;
  margin-left: -20px;
  display: block !important;
  border:none;
  background: #006193;
  color: #fff;
  transition: all ease .3s;
}
.owl-vozisomene .owl-next, .owl-vozisomene .owl-nav button.owl-next {
  width: 30px;
  height: 100%;
  position: absolute;
  top: 0;
  right: -30px;
  bottom: 0;
  display: block !important;
  border:none;
  background: #006193;
  color: #fff;
  transition: all ease .3s;
}
.owl-vozisomene .owl-prev:hover, .owl-vozisomene .owl-nav button.owl-prev:hover, .owl-vozisomene .owl-next:hover, .owl-vozisomene .owl-nav button.owl-next:hover {
  background: #26547C;
}
:focus {
  outline: none;
}
.owl-vozisomene .owl-item {
  height: 350px;
}
.owl-vozisomene .slika {
  width: 100%;
  height: 100%;
  border: none;
}
.owl-vozisomene .skopje {
  background-image: url('/storage/upload/web/cities/skopje.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.owl-vozisomene .strumica {
  background-image: url('/storage/upload/web/cities/strumica.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.owl-vozisomene .ohrid {
  background-image: url('/storage/upload/web/cities/ohrid.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.owl-vozisomene .stip {
  background-image: url('/storage/upload/web/cities/stip.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.owl-vozisomene .veles {
  background-image: url('/storage/upload/web/cities/veles.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.owl-vozisomene .tekst {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  /* visibility: hidden; */
  transition: all .3s ease;
  z-index: 2;
}
.owl-vozisomene .tekst h4 {
  color: #fff;
  font-size: 2rem;
  letter-spacing: 1px;
  text-align: center;
}
.owl-vozisomene .tekst h4 span {
  display: block;
  font-size: 3rem;
  letter-spacing: 3px;
}
.owl-vozisomene .owl-item .slika::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  background: rgba(51,161,253,.6);
  background: -moz-linear-gradient(45deg, rgba(51,161,253,.7) 0%, rgba(38,84,124,.7) 100%);
  background: -webkit-linear-gradient(45deg, rgba(51,161,253,.7) 0%,rgba(38,84,124,.7) 100%);
  background: linear-gradient(45deg, rgba(51,161,253,.7) 0%,rgba(38,84,124,.7) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#006193', endColorstr='#26547C',GradientType=1 );
  opacity: 0;
  transition: all .3s ease;
}
.owl-vozisomene .owl-item:hover .tekst, .owl-vozisomene .owl-item:hover .slika::after {
  opacity: 1;
}
footer {
  position: relative;
  border-top: 1px solid #d3e0e9;
}
.text-facebook {
  color: #3b5998;
}
.text-instagram {
  color: #7232bd;
}
.text-youtube {
  color: #ff0000;
}
.bg-light {
  background-color: #FEFFFE;
}
.bg-light-gradient {
  background: rgb(242,243,244);
  background: radial-gradient(circle, rgba(242,243,244,1) 0%, rgba(255,255,255,1) 50%, rgba(242,243,244,1) 100%);
}
.bg-white {
  background-color: #fff;
}
.mb-3, .my-3 {
  margin-bottom: 3rem!important;
}
.mt-3, .my-3 {
  margin-top: 3rem!important;
}
.text-primary {
  color: #006193!important;
}
.text-secondary {
  color: #F68921!important;
}
.text-muted {
  color: rgba(7,16,19,.7);
}
.link-danger {
  color: #a94442;
}
.shadow {
  -webkit-box-shadow: 0 1rem 3rem rgba(0,0,0,.175)!important;
  box-shadow: 0 1rem 3rem rgba(0,0,0,.175)!important;
}
.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
/* .najava {
  background: url('/storage/upload/web/login.jpg'), rgba(237,203,150,.2);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-blend-mode: overlay;

}
.najava #app {
  min-height: 75vh;
} */
.bg-kruska {
  background: url('/storage/upload/web/kruska.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.bg-vozi {
  background: url('/storage/upload/web/home.jpg');
  background-size: cover;
  background-position: right;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.bg-ride {
  background: url('/storage/upload/web/road.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.bg-login {
  background: url('/storage/upload/web/login.jpg'), rgba(37,203,150,.2);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-blend-mode: overlay;
}
.bg-najava {
  background: url('/storage/upload/web/bg-avtostop.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.bg-profil {
  background: url('/storage/upload/web/bg-profil.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.bg-reviews {
  background: url('/storage/upload/web/bg-reviews.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.bg-dodadi {
  background: url('/storage/upload/web/bg-dodadi.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.bg-kontakt {
  background: url('/storage/upload/web/bg-kontakt.jpg'), rgba(0,97,147,.7);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-blend-mode: overlay;
}
/* .bg-home::before, .bg-najava::before, .bg-profil::before, .bg-reviews::before, .bg-dodadi::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  margin-top: -100px;
  background: rgba(255,75,31,.5);
  background: -webkit-linear-gradient(to bottom, rgba(31,221,255,.8), rgba(255,75,31,.8));
  background: linear-gradient(to bottom, rgba(31,221,255,.8), rgba(255,75,31,.8));
} */
.form-control {
  /* font-size: .8rem; */
  border-radius: 10rem;
  padding: 1.25rem 1.5rem;
  /* padding: 2rem 1.5rem; */
  height: auto;
  /* height: calc(1.5em + .75rem + 2px); */
}
textarea.form-control {
  border-radius: 3rem;
}
select.input-sm, .input-group-sm > select.form-control, .input-group-sm > select.input-group-addon, .input-group-sm > .input-group-btn > select.btn {
  height: auto;
  padding: 1rem .55rem;
}
label {
  margin-left: 1.5rem;
}
.checkbox {
  padding-left: 20px;
}
.checkbox label {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  padding-left: 5px;
}
.checkbox label::before {
  content: "";
  display: inline-block;
  position: absolute;
  width: 17px;
  height: 17px;
  left: 0;
  margin-left: -20px;
  border: 1px solid #cccccc;
  border-radius: 3px;
  background-color: #fff;
  -webkit-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
  -o-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
  transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
}
.checkbox label::after {
  display: inline-block;
  position: absolute;
  width: 16px;
  height: 16px;
  left: 0;
  top: 0;
  margin-left: -20px;
  padding-left: 3px;
  padding-top: 1px;
  font-size: 11px;
  color: #555555;
}
.checkbox input[type="checkbox"],
.checkbox input[type="radio"] {
  opacity: 0;
  z-index: 1;
}
.checkbox input[type="checkbox"]:focus + label::before,
.checkbox input[type="radio"]:focus + label::before {
 /*  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px; */
}
.checkbox input[type="checkbox"]:checked + label::after,
.checkbox input[type="radio"]:checked + label::after {
  content: "\f00c";
  font-family: "Font Awesome 5 Free";
  font-weight: 600;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}
.checkbox input[type="checkbox"]:disabled + label,
.checkbox input[type="radio"]:disabled + label {
  opacity: 0.65;
}
.checkbox input[type="checkbox"]:disabled + label::before,
.checkbox input[type="radio"]:disabled + label::before {
  background-color: #eeeeee;
  cursor: not-allowed;
}
.checkbox.checkbox-circle label::before {
  border-radius: 50%;
}
.checkbox.checkbox-inline {
  margin-top: 0;
}
.checkbox-primary input[type="checkbox"]:checked + label::before,
.checkbox-primary input[type="radio"]:checked + label::before {
  background-color: #006193;
  border-color: #006193;
}
.checkbox-primary input[type="checkbox"]:checked + label::after,
.checkbox-primary input[type="radio"]:checked + label::after {
  color: #fff;
}
.checkbox-danger input[type="checkbox"]:checked + label::before,
.checkbox-danger input[type="radio"]:checked + label::before {
  background-color: #d9534f;
  border-color: #d9534f;
}
.checkbox-danger input[type="checkbox"]:checked + label::after,
.checkbox-danger input[type="radio"]:checked + label::after {
  color: #fff;
}
.checkbox-info input[type="checkbox"]:checked + label::before,
.checkbox-info input[type="radio"]:checked + label::before {
  background-color: #5bc0de;
  border-color: #5bc0de;
}
.checkbox-info input[type="checkbox"]:checked + label::after,
.checkbox-info input[type="radio"]:checked + label::after {
  color: #fff;
}
.checkbox-warning input[type="checkbox"]:checked + label::before,
.checkbox-warning input[type="radio"]:checked + label::before {
  background-color: #f0ad4e;
  border-color: #f0ad4e;
}
.checkbox-warning input[type="checkbox"]:checked + label::after,
.checkbox-warning input[type="radio"]:checked + label::after {
  color: #fff;
}
.checkbox-success input[type="checkbox"]:checked + label::before,
.checkbox-success input[type="radio"]:checked + label::before {
  background-color: #5cb85c;
  border-color: #5cb85c;
}
.checkbox-success input[type="checkbox"]:checked + label::after,
.checkbox-success input[type="radio"]:checked + label::after {
  color: #fff;
}
.radio {
  padding-left: 20px;
}
.radio label {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  padding-left: 5px;
  font-weight: 600;
}
.radio label::before {
  content: "";
  display: inline-block;
  position: absolute;
  width: 17px;
  height: 17px;
  left: 0;
  margin-left: -20px;
  border: 1px solid #cccccc;
  border-radius: 50%;
  background-color: #fff;
  -webkit-transition: border 0.15s ease-in-out;
  -o-transition: border 0.15s ease-in-out;
  transition: border 0.15s ease-in-out;
}
.radio label::after {
  display: inline-block;
  position: absolute;
  content: " ";
  width: 11px;
  height: 11px;
  left: 3px;
  top: 3px;
  margin-left: -20px;
  border-radius: 50%;
  background-color: #555555;
  -webkit-transform: scale(0, 0);
  -ms-transform: scale(0, 0);
  -o-transform: scale(0, 0);
  transform: scale(0, 0);
  -webkit-transition: -webkit-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
  -moz-transition: -moz-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
  -o-transition: -o-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
  transition: transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
}
.radio input[type="radio"] {
  opacity: 0;
  z-index: 1;
}
.radio input[type="radio"]:focus + label::before {
  /* outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px; */
}
.radio input[type="radio"]:checked + label::after {
  -webkit-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  -o-transform: scale(1, 1);
  transform: scale(1, 1);
}
.radio input[type="radio"]:disabled + label {
  opacity: 0.65;
}
.radio input[type="radio"]:disabled + label::before {
  cursor: not-allowed;
}
.radio.radio-inline {
  margin-top: 0;
}
.radio-primary input[type="radio"] + label::after {
  background-color: #006193;
}
.radio-primary input[type="radio"]:checked + label::before {
  border-color: #006193;
}
.radio-primary input[type="radio"]:checked + label::after {
  background-color: #006193;
}
.radio-secondary input[type="radio"] + label::after {
  background-color: #F68921;
}
.radio-secondary input[type="radio"]:checked + label::before {
  border-color: #F68921;
}
.radio-secondary input[type="radio"]:checked + label::after {
  background-color: #F68921;
}
.radio-danger input[type="radio"] + label::after {
  background-color: #d9534f;
}
.radio-danger input[type="radio"]:checked + label::before {
  border-color: #d9534f;
}
.radio-danger input[type="radio"]:checked + label::after {
  background-color: #d9534f;
}
.radio-info input[type="radio"] + label::after {
  background-color: #5bc0de;
}
.radio-info input[type="radio"]:checked + label::before {
  border-color: #5bc0de;
}
.radio-info input[type="radio"]:checked + label::after {
  background-color: #5bc0de;
}
.radio-warning input[type="radio"] + label::after {
  background-color: #f0ad4e;
}
.radio-warning input[type="radio"]:checked + label::before {
  border-color: #f0ad4e;
}
.radio-warning input[type="radio"]:checked + label::after {
  background-color: #f0ad4e;
}
.radio-success input[type="radio"] + label::after {
  background-color: #5cb85c;
}
.radio-success input[type="radio"]:checked + label::before {
  border-color: #5cb85c;
}
.radio-success input[type="radio"]:checked + label::after {
  background-color: #5cb85c;
}
input[type="checkbox"].styled:checked + label:after,
input[type="radio"].styled:checked + label:after {
  font-family: "Font Awesome 5 Free";
  font-weight: 600;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  content: "\f00c";
}
input[type="checkbox"] .styled:checked + label::before,
input[type="radio"] .styled:checked + label::before {
  color: #fff;
}
input[type="checkbox"] .styled:checked + label::after,
input[type="radio"] .styled:checked + label::after {
  color: #fff;
}
.radio-inline + .radio-inline, .checkbox-inline + .checkbox-inline {
  margin-left: 1.5rem;
}
.radio-inline, .checkbox-inline {
  margin-left: 1.5rem;
}
.radio-inline label, .checkbox-inline label {
  margin-left: 0;
  font-weight: 600;
}
.btn {
  /* font-size: .8rem; */
  border-radius: 10rem;
  /* padding: 1.5rem 1rem; */
}
.btn-facebook {
  color: #fff;
  background-color: #3b5998;
  border-color: #fff;
}
.btn-facebook:hover {
  color: #fff;
  background-color: #30497c;
  border-color: #e6e6e6;
}
.btn-google {
  color: #fff;
  background-color: #ea4335;
  border-color: #fff;
}
.btn-google:hover {
  color: #fff;
  background-color: #e12717;
  border-color: #e6e6e6;
}
.btn-icon-split {
  padding: 0;
  overflow: hidden;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.btn-icon-split .icon {
  background: rgba(0,0,0,.15);
  display: inline-block;
  padding: .75rem 1.5rem;
}
.text-white-50 {
  color: rgba(255,255,255,.5)!important;
}
.btn-icon-split .text {
  display: inline-block;
  padding: .75rem 1.5rem;
}
.panel {
  /* background-color: #F2F3F4; */
  -webkit-box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.35);
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.35);
  border: none;
}
.panel-najava .panel-heading {
  background: url('/storage/upload/web/login.jpg'), rgba(237,203,150,.2);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-blend-mode: overlay;
  padding: 5rem 15px;
}
.panel-najava .panel-heading h1 {
  color: #fff;
  text-align: center;
  text-shadow: 3px 3px 5px #000;
}
/* .list-group {
  -webkit-box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.35);
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.35);
}
a.list-group-item, button.list-group-item {
  color: inherit;
}
.list-group-item {
  border: 0 solid #F2F3F4;
  border-bottom: 1px solid #F2F3F4;
}
.list-group-item i {
  min-width: 25px;
}
.list-group-item.active, .list-group-item.active:hover, .list-group-item.active:focus {
  z-index: 2;
  color: #071013;
  background-color: #ececec;
  border-color: #ffffff;
} */
.profil .panel {
  min-height: 636px;
}
.profil .nav-pills {
  background: #eee;
  margin-bottom: -1px;
}
.profil .nav-pills > li > a {
  padding: 20px 15px;
}
.profil .nav-pills > li > a:hover, .nav > li > a:focus {
  color: #F68921;
  background: #fff;
}
.profil .nav-pills > li > a.active {
  color: #F68921;
  background: #fff;
}
.profil .nav-pills i {
  display: block;
  text-align: center;
  font-size: 2rem;
  margin-bottom: 5px;
}
.help-block {
  color: rgba(7,16,19,.6);
}
.slika {
  width: 17rem;
  border: 4px solid #006193;
  border-radius: 50%;
}
.vcenter {
  display: inline-block;
  vertical-align: middle;
  float: none;
}
.panel-profil {
  margin-top: 75px;
  min-height: 325px;
}
.panel-profil .slika {
  width: 150px;
  position: absolute;
  display: block;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  border: 4px solid #006193;
  border-radius: 50%;
}
.panel-profil .promeni-slika {
  position: absolute;
  display: block;
  top: 100px;
  left: 29%;
  /* transform: translate(-50%,0); */
  /* border: 4px solid #006193;
  border-radius: 50%; */
}
.panel-profil .ime {
  padding-top: 85px;
}
.panel-primary {
  border: none;
}
.panel-primary > .panel-heading {
  color: #fff;
  background-color: #006193;
  border-color: #006193;
}
.panel-heading h3 {
  margin-top: 10px;
  margin-bottom: 10px;
  /* text-align: center; */
}
.panel-primary > .panel-heading h3 {
  color: #fff;
}
.panel .list-group {
  margin-bottom: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.panel-profil .kopce {
  position: absolute;
  bottom: 37px;
  left: 30px;
  right: 30px;
}
.panel-info > .panel-heading {
  color: #071013;
  background-color: #fff;
  border-color: #006193;
  /* color: #006193;
  background-color: rgba(51,161,253,.25);
  border-color: #006193; */
}
.panel-info > .panel-heading h3 {
  color: #071013;
  text-align: left;
}
.panel-info > .panel-heading i {
  min-width: 40px;
}
.profil .btn .text-muted {
  color: rgba(7,16,19,.5);
}
.pt-0, .py-0 {
  padding-top: 0!important;
}
.p-0 {
  padding: 0!important;
}
.m-0 {
  margin: 0!important;
}
.card-counter{
  box-shadow: 2px 2px 10px #DADADA;
  margin: 5px;
  padding: 20px 10px;
  /* background-color: #fff; */
  height: 100px;
  border-radius: 5px;
  transition: .3s linear all;
}
/* .card-counter .primary{
  background-color: #007bff;
  color: #FFF;
}
.card-counter .danger{
  background-color: #ef5350;
  color: #FFF;
}
.card-counter .success{
  background-color: #66bb6a;
  color: #FFF;
}
.card-counter .info{
  background-color: #26c6da;
  color: #FFF;
}   */
.card-counter i{
  font-size: 5rem;
  opacity: 0.2;
  width: 5rem;
  text-align: center;
}
.card-counter .count-numbers{
  position: absolute;
  display: block;
  top: 20px;
  right: 35px;
  width: 60%;
  font-size: 3.25rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: right;
}
.card-counter .count-name{
  position: absolute;
  display: block;
  right: 35px;
  top: 65px;
  font-style: italic;
  opacity: 0.5;
  font-size: 1.8rem;
}
.card-counter .fa-times {
  font-size: 1.25rem;
  width: auto;
  opacity: .75;
}
.card-counter .btn-link {
  color: #fff;
  padding-right: 0;
}
.card-counter.bg-primary .btn-link:hover {
  color: #F68921;
}
.card-counter.bg-secondary .btn-link:hover {
  color: #006193;
}
.dash-tr-vozac i, .dash-tr-patnik i {
  line-height: 1.4;
}
.dash-tr-vozac::before {
  content: "\f1b9";
  font-family: "Font Awesome 5 Free";
  font-weight: 600;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  color: #F68921;
}
.dash-tr-patnik::before {
  content: "\f0f2";
  font-family: "Font Awesome 5 Free";
  font-weight: 600;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  color: #F68921;
}
.panel-izvestuvanja .panel-body {
  max-height: 200px;
  overflow-y: scroll;
}
.panel-moipatuvanja td {
  max-width: 145px;
}
.panel-moipatuvanja td span {
  display: block;
}
.panel-moipatuvanja td .lead {
  margin-bottom: 0;
}
.preseci {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.vozam, .vozime {
  min-height: 50vh;
}
.vozime {
  background: url('/storage/upload/web/dashboard321.jpg'), rgba(245,137,33,.65);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  /* background-blend-mode: darken; */
}
.vozam {
  background: url('/storage/upload/web/dashboard.jpg'), rgba(0,97,147,.65);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  /* background-blend-mode: darken; */
}
.vozime::after, .vozam::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  background: rgba(51,161,253,.6);
  background: -moz-linear-gradient(45deg, rgba(51,161,253,.7) 0%, rgba(38,84,124,.7) 100%);
  background: -webkit-linear-gradient(45deg, rgba(51,161,253,.7) 0%,rgba(38,84,124,.7) 100%);
  background: linear-gradient(45deg, rgba(51,161,253,.7) 0%,rgba(38,84,124,.7) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#006193', endColorstr='#26547C',GradientType=1 );
  /* opacity: 0;
  transition: all .3s ease; */
}
.vozam .tekst, .vozime .tekst {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  text-align: center;
  z-index: 2;
}
.vozam .tekst h2, .vozime .tekst h2 {
  color: #fff;
}
.vozam .tekst p, .vozime .tekst p {
  color: #fff;
}
.panel-vozime {
  background-color: rgba(246,137,33,.9);
  color: #fff;
}
.panel-vozime .panel-footer {
  background-color: rgba(246,137,33,1);
  border: none;
}
.panel-vozime .panel-footer .btn-default {
  color: rgba(246,137,33,1);
}
.panel-vozam {
  background-color: rgba(0,97,147,.9);
}
.panel-vozime .panel-body, .panel-vozam .panel-body {
  color: #fff;
}
.panel-vozam .panel-footer {
  background-color: rgba(0,97,147,1);
  border: none;
}
.panel-vozam .panel-footer .btn-default {
  color: rgba(0,97,147,1);
}
.dropdown-menu li a i {
  min-width: 25px;
}
/* Map */
#map {
  height: 550px;
  float: right;
  width: 100%;
}
.h-100 {
  height: 100%!important;
}
.h-50 {
  height: 50%!important;
}
.text-white {
  color: #fff!important;
}
.krop {
  position: relative;
}
.krop span {
  position: absolute;
  display: block;
  top: 30px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
}
.croppie-container {
  padding: 0 30px;
  height: auto;
}
.croppie-container .cr-slider-wrap {
  width: 50%;
  margin-top: 20px;
  margin-bottom: 10px;
}
.input-file-container {
  position: relative;
  width: 300px;
}
.js .input-file-trigger {
  display: block;
  /* padding: 14px 45px; */
  /* background: #39D2B4; */
  /* color: #fff; */
  /* font-size: 1em; */
  transition: all .3s;
  cursor: pointer;
}
.js .input-file {
  position: absolute;
  top: 0; left: 0;
  width: 300px;
  opacity: 0;
  /* padding: 14px 0; */
  cursor: pointer;
}
/* .js .input-file:hover + .input-file-trigger,
.js .input-file:focus + .input-file-trigger,
.js .input-file-trigger:hover,
.js .input-file-trigger:focus {
  background: #34495E;
  color: #39D2B4;
} */
.file-return {
  margin: 0;
}
.file-return:not(:empty) {
  margin: 1em 0;
}
.js .file-return {
  font-style: italic;
  font-size: .9em;
  font-weight: bold;
}
.js .file-return:not(:empty):before {
  content: "Selected file: ";
  font-style: normal;
  font-weight: normal;
}
/*form styles*/
#msform {
	width: 100%;
	position: relative;
}
#msform fieldset {

	/*stacking fieldsets above each other*/
	position: relative!important;
}
/*Hide all except first fieldset*/
#msform fieldset:not(:first-of-type) {
	display: none;
}
#msform .costShareP {
  width: 100%;
}
#msform .costShareP .preseci {
  display: inline-block;
  max-width: 44%;
}
/*buttons*/
/* #msform .action-button {
	width: 150px;
	background: #006193;
	font-weight: bold;
	color: white;
	border: 0 none;
	border-radius: 1px;
	cursor: pointer;
	padding: 10px 5px;
	margin: 10px 5px;
}
#msform .action-button:hover, #msform .action-button:focus {
	box-shadow: 0 0 0 2px white, 0 0 0 3px #006193;
} */
/*headings*/
.fs-title {
	font-size: 15px;
	text-transform: uppercase;
	color: #2C3E50;
	margin-bottom: 10px;
}
.fs-subtitle {
	font-weight: normal;
	font-size: 13px;
	color: #666;
	margin-bottom: 20px;
}
/*progressbar*/
#progressbar {
	/* margin-bottom: 30px; */
	overflow: hidden;
	/*CSS counters to number the steps*/
	counter-reset: step;
}
#progressbar li {
	list-style-type: none;
	text-transform: uppercase;
	width: 50%;
	float: left;
	position: relative;
  z-index: 2;
}
#progressbar li:before {
	content: counter(step);
	counter-increment: step;
	width: 20px;
	display: block;
	color: #071013;
	background: rgba(0,97,147,.25);
	border-radius: 3px;
	padding-left: 5px;
  z-index: 2;
}
/*progressbar connectors*/
#progressbar li:after {
	content: '';
	width: 92%;
	height: 2px;
	background: rgba(0,97,147,.25);
	position: absolute;
	left: -92%;
	top: 10px;
	z-index: 1; /*put it behind the numbers*/
}
#progressbar li:first-child:after {
	/*connector not needed before the first step*/
	content: none;
}
/*marking active/completed steps green*/
/*The number of the step and the connector before it = green*/
#progressbar li.active:before,  #progressbar li.active:after{
	background: #006193;
	color: white;
}

/* .error {
  color: red;
} */

.status p {
  margin-bottom: 0;
  letter-spacing: 2px;
  text-transform: lowercase;
  font-size: 1.15rem;
}
.label-primary {
  background-color: #006193;
}
.status .label {
  font-size: 1.7rem;
  width: 127px;
  display: block;
  margin: auto;
  float: right;
}
.status-rezervacija .label {
  width: 160px;
}
.starrr, .driver_rating{
  display: inline-block;
}
.starrr a, .driver_rating a {
  font-size: 16px;
  padding: 0 1px;
  cursor: pointer;
  color: #FFD119;
  text-decoration: none;
}
.well-info {
  background-color: rgba(51,161,253,.25);
}
.panel-patuvanja {
  position: relative;
}
.panel-patuvanja .data-patuvanja {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 100%;
  border-radius: 0;
}
.panel-patuvanja .slika {
  width: 70px;
}
.panel-patuvanja .status .label, .panel-patuvanja .status-rezervacija .label {
  float: none;
  margin: 0;
  margin-bottom: 10px;
}
.panel-patuvanja .removeBtn {
  position: absolute;
  display: block;
  top: 0;
  right: 0;
}
.bulet {
  width:16px;
  position:absolute;
  top:10px;
  left:0;
  /* left:30px; */
}
.roundChecked {
  width:16px;
  height:16px;
  border-radius:50px;
  border:4px #006193 solid;
  border-width:4px;
  border-style:solid;
}
.lineChecked {
  width:3px;
  height:35px;
  background-color:#006193;
  margin:auto 6px;
}
.roundUnChecked {
  width:16px;
  height:16px;
  border-radius:50px;
  border:4px #F68921 solid;
  border-width:4px;
  border-style:solid;
}
.lineUnChecked {
  width:3px;
  height:25px;
  background-color:#F68921;
  margin:auto 6px;
}
.mr-4, .mx-4 {
  margin-right: 4rem!important;
}
.ml-4, .mx-4 {
  margin-left: 4rem!important;
}
.mr-3, .mx-3 {
  margin-right: 3rem!important;
}
.ml-3, .mx-3 {
  margin-left: 3rem!important;
}
.mr-2, .mx-2 {
  margin-right: 2rem!important;
}
.ml-2, .mx-2 {
  margin-left: 2rem!important;
}
.mr-1, .mx-1 {
  margin-right: 1rem!important;
}
.ml-1, .mx-1 {
  margin-left: 1rem!important;
}
.mb-4, .my-4 {
  margin-bottom: 4rem!important;
}
.mt-4, .my-4 {
  margin-top: 4rem!important;
}
/* .full-size {
  width:100%;
  border-top:3px solid #ccc;
} */
.panel-baraj .panel-heading .btn-link {
  color: #fff;
}
.destinacii {
  position: relative;
}
.destinacii .destinacija {
  display: flex;
  /* min-height:50px; */
}
.destinacii .destinacija-pocetna {
  padding: 0 0 28px 0;
}
.destinacii .destinacija-prva {
  padding: 0 0 20px 0;
}
.destinacii .destinacija-vtora {
  padding: 0 0 20px 0;
}
.destinacii .destinacija-krajna {
  padding: 8px 0 0 0;
}
.panel-patuvanja .btn {
  border-radius: 0;
}
.destinacii .destinacija .saat {
  font-size: 16px;
}
.alert-info::before {
  content: "\f129";
  font-family: "Font Awesome 5 Free";
  font-weight: 600;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-size: 5rem;
  color: #006193;
  display: inline-block;
  /* padding: 0 25px 0 10px; */
  vertical-align: top;
  width: 5%;
  text-align: center;
}
.alert-info {
  background-color: #fff;
  border-color: #c2bfbf;
  border-left: none;
  border-right: none;
  color: #071013;
  padding: 15px;
  border: none;
  border-radius: 0;
}
.alert-bio::before {
  content: "\f508";
  font-family: "Font Awesome 5 Free";
  font-weight: 600;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-size: 5rem;
  color: #006193;
  display: inline-block;
  vertical-align: top;
  width: 5%;
  text-align: left;
}
.alert .tekst {
  display: inline-block;
  width: 94%;
}
.alert-status {
  position: relative;
}
.alert-status::before {
  content: "";
  font-size: 5rem;
  color: rgba(255,255,255,.5);
  display: inline-block;
  background: rgba(0,0,0,.15);
  min-width: 10rem;
  padding: 15px;
  text-align: center;
}
.alert-status .tekst {
  display: inline-block;
  padding-left: 15px;
  padding-right: 15px;
  width: auto;
  max-width: 25rem; /* ????????????????? */
}
.alert-status .btn-link {
  position: absolute;
  right: 10px;
  bottom: 0;
  color: #fff;
}
.alert-status-in_progress::before {
  content: "\f110";
  font-family: "Font Awesome 5 Free";
  font-weight: 600;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}
.alert-status-in_progress {
  background-color: #006193;
  border-color: #006193;
  color: #fff;
  padding: 0;
}
.alert-status-canceled::before {
  content: "\f05e";
  font-family: "Font Awesome 5 Free";
  font-weight: 600;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}
.alert-status-canceled {
  background-color: #a94442;
  border-color: #a94442;
  color: #fff;
  padding: 0;
}
.alert-status-completed::before {
  content: "\f00c";
  font-family: "Font Awesome 5 Free";
  font-weight: 600;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}
.alert-status-completed {
  background-color: #2ab27b;
  border-color: #2ab27b;
  color: #fff;
  padding: 0;
}
.alert-rezervacija-Pending::before {
  content: "\f110";
  font-family: "Font Awesome 5 Free";
  font-weight: 600;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}
.alert-rezervacija-Pending {
  background-color: #006193;
  border-color: #006193;
  color: #fff;
  padding: 0;
}
.alert-rezervacija-Rejected::before {
  content: "\f05e";
  font-family: "Font Awesome 5 Free";
  font-weight: 600;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}
.alert-rezervacija-Rejected {
  background-color: #a94442;
  border-color: #a94442;
  color: #fff;
  padding: 0;
}
.alert-rezervacija-Canceled::before {
  content: "\f05e";
  font-family: "Font Awesome 5 Free";
  font-weight: 600;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}
.alert-rezervacija-Canceled {
  background-color: #a94442;
  border-color: #a94442;
  color: #fff;
  padding: 0;
}
.alert-rezervacija-Accepted::before {
  content: "\f00c";
  font-family: "Font Awesome 5 Free";
  font-weight: 600;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}
.alert-rezervacija-Accepted {
  background-color: #2ab27b;
  border-color: #2ab27b;
  color: #fff;
  padding: 0;
}
.alert-rezervacii-ima::before {
  content: "\f00c";
  font-family: "Font Awesome 5 Free";
  font-weight: 600;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}
.alert-rezervacii-ima {
  background-color: #2ab27b;
  border-color: #2ab27b;
  color: #fff;
  padding: 0;
}
.alert-rezervacii-nema::before {
  content: "\f00d";
  font-family: "Font Awesome 5 Free";
  font-weight: 600;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}
.alert-rezervacii-nema {
  background-color: #a94442;
  border-color: #a94442;
  color: #fff;
  padding: 0;
}
.alert-spodeli::before {
  content: "\f1e0";
  font-family: "Font Awesome 5 Free";
  font-weight: 600;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}
.alert-spodeli {
  background-color: #F68921;
  border-color: #F68921;
  color: #fff;
  padding: 0;
}
.alert-spodeli .tekst {
  height: 95px;
  vertical-align: bottom;
}
.col-share {
  position: relative;
}
.addthis_inline_share_toolbox_vbrd {
  position: absolute;
  display: block;
  right: 15px;
  bottom: 5px;
}
.panel-rezervacija {
  position: relative;
}
.panel-rezervacija .panel-heading i {
  min-width: 25px;
}
.panel-rezervacija .panel-heading::after {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f054";
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  position: absolute;
  top: .25rem;
  right: 5px;
  font-size: 5rem;
  color: #071013;
  opacity: .25;
}
.panel-rezervacija .media {
  margin-bottom: 10px;
}
.panel-rezervacija .media-left, .panel-rezervacija .media > .pull-left {
    padding-right: 20px;
}
.panel-rezervacija .media img {
  width: 6rem;
  border-radius: 50%;
}
.accept_btn::before {
  content: "\f00c";
  font-family: "Font Awesome 5 Free";
  font-weight: 600;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-size: 1rem;
  color: rgba(255,255,255,.5);
  display: inline-block;
  background: rgba(0,0,0,.15);
  /* min-width: 10rem;
  padding: 15px; */
  text-align: center;
}
/* #resevation_form input {
  border-radius: 0;
} */
#resevation_form .btn-group {
  width: 100%;
}
#resevation_form .btn-default {
  width: 31.3%;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.35);
  border: none;
  margin: 1%;
  white-space: normal;
  text-align: left;
  border-radius: 0;
  border-top-right-radius: 10rem;
  border-bottom-right-radius: 10rem;
}
#resevation_form .btn-default span, .panel-rezervacija .mesto {
  display: block;
  margin-bottom: 0;
  font-family: 'Oswald', sans-serif;
  color: #071013;
  width: 90%;
}
/* #resevation_form .btn-default i {
  color: #006193;
} */
#resevation_form .btn-default .mesto, .panel-rezervacija .mesto:first-child {
  margin-bottom: 7.5px;
}
#resevation_form .btn .cena {
  color: #006193;
  text-align: center;
  font-weight: bold;
  margin-top: 10px;
}
#resevation_form .btn-default::after {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f054";
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  position: absolute;
  top: 15px;
  right: 15px;
  bottom: 15px;
  font-size: 5rem;
  color: #071013;
  opacity: .25;
}
#resevation_form .btn-default {
  background-color: rgba(0,97,147,.1);
}
#resevation_form .btn-default:hover, #resevation_form .active {
  /* color: #fff; */
  background-color: rgba(0,97,147,1);
}
#resevation_form .active span, #resevation_form .btn-default:hover span {
  color: #fff;
}
#resevation_form .active .cena, #resevation_form .btn-default:hover .cena {
  color: #fff;
}
#resevation_form .active:hover .cena {
  color: #fff;
}
hr {
  border-top: 1px solid #ccd0d2;
}
.pb-0, .py-0 {
  padding-bottom: 0!important;
}
.pt-0, .py-0 {
  padding-top: 0!important;
}
.pl-0, .px-0 {
  padding-left: 0!important;
}
.pr-0, .px-0 {
  padding-right: 0!important;
}
.mb-0, .my-0 {
  margin-bottom: 0!important;
}
.mt-0, .my-0 {
  margin-top: 0!important;
}
.mb-2, .my-2 {
  margin-bottom: 2rem!important;
}
.mt-2, .my-2 {
  margin-top: 2rem!important;
}
.mb-1, .my-1 {
  margin-bottom: 1rem!important;
}
.mt-1, .my-1 {
  margin-top: 1rem!important;
}
.ml-auto, .mx-auto {
  margin-left: auto!important;
}
.mr-auto, .mx-auto {
  margin-right: auto!important;
}
.zasofero .detali .panel-body {
  min-height: 251px;
}
.zasofero .sofer img, .zasofero .kola img {
  /* width: 150px;
  border: 4px solid #006193; */
  /* border-radius: 50%; */
}
.zasofero .panel-profil {
  min-height: 252px;
}
.zasofero .detali .media i {
  width: 5rem;
  text-align: center;
}
.zasofero .detali .media .fa-2x {
  font-size: 1.25em;
}
.zasofero .detali .media .fa-3x {
  font-size: 2em;
}
.preferenci .media i {
  width: 7rem;
  text-align: center;
}
.text-strong {
  font-weight: bold;
}
.profil .komentar .panel {
  min-height: auto;
}
.komentar img {
  max-width: 100px;
  max-height: 100px;
  margin-left: auto;
  margin-right: auto;
  border: 4px solid #006193;
  border-radius: 50%;
}
#addstop {
  cursor: pointer;
}
.dl-horizontal dt {
  width: 3rem;
  text-align: left;
}
.dl-horizontal dd {
  margin-left: 4rem;
}
#directions-panel .dl-horizontal .preseci {
  display: inline-block;
  max-width: 40%;
}
#directions-panel .dolzina, #directions-panel .saat {
  display: inline-block;
   min-width: 13.5rem;
}
#directions-panel .dolzina i, #directions-panel .saat i {
  width: 16px;
  margin-right: 10px;
}
.tooltip {
  font-family: 'Oswald', sans-serif;
  font-size: 1.5rem;
  letter-spacing: 1px;
}
.sediste {
  width: 25px;
}
.pagination > li > a, .pagination > li > span {
  color: #006193;
}
.pagination > .active > a, .pagination > .active > a:hover, .pagination > .active > a:focus, .pagination > .active > span, .pagination > .active > span:hover, .pagination > .active > span:focus {
  color: #fff;
  background-color: #006193;
  border-color: #006193;
}
.kakoraboti > li > a {
  text-decoration: none;
  background-color: #F68921;
  color: #fff;
  font-size: 1.5rem;
  /* font-weight: 600; */
  transition: ease all .3s;
}
.kakoraboti > li > a:hover, .kakoraboti > li > a:focus, .kakoraboti > li.active > a, .kakoraboti > li.active > a:hover, .kakoraboti > li.active > a:focus {
  text-decoration: none;
  background-color: #006193;
}
.cekor::before {
  content: '';
  position: absolute;
  display: block;
  /* width: 100%;
  height: 100%; */
  /* background-image: url('/storage/upload/web/ramka2.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 1; */
  border-top: 10px solid #F68921;
  border-bottom: 7rem solid transparent;
  border-left: 10px solid #F68921;
  border-right: 7rem solid transparent;
  transform: rotate(2deg);
}
.cekor::after {
  content: '';
  position: absolute;
  display: block;
  border-top: 7rem solid transparent;
  border-bottom: 10px solid #F68921;
  border-left: 7rem solid transparent;
  border-right: 10px solid #F68921;
  transform: rotate(-2deg);
}
/* .cekor {
  width: 150px;
  height: 116px;
} */
.cekor span {
  position: absolute;
  display: block;
  top: .75rem;
  left: 4.25rem;
  /* top: 50%;
  left: 50%;
  transform: translate(-50%,-50%); */
  color: #006193;
  font-size: 4rem;
  font-weight: bold;
  z-index: 2;
  /* padding: 3rem; */
}
.zanas-slika::after {
  content: "";
  position: absolute;
  top: 0;
  right: 15px;
  bottom: 0;
  left: 15px;
  z-index: 1;
  background: rgb(0,97,147);
  background: linear-gradient(180deg, rgba(0,97,147,.15) 0%, rgba(0,97,147,.5) 100%);
  /* background: rgba(51,161,253,.6);
  background: -moz-linear-gradient(45deg, rgba(51,161,253,.7) 0%, rgba(38,84,124,.7) 100%);
  background: -webkit-linear-gradient(45deg, rgba(51,161,253,.7) 0%,rgba(38,84,124,.7) 100%);
  background: linear-gradient(45deg, rgba(51,161,253,.7) 0%,rgba(38,84,124,.7) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#006193', endColorstr='#26547C',GradientType=1 ); */
}
.kontakt-podatoci {
  position: absolute;
  display: block;
  top: 50%;
  left: 2rem;
  transform: translateY(-50%);
}
.modal-title {
  color: #006193;
}
.footer-links {
  font-weight: bold;
}
.footer-links .fa-li {
  width: 0;
  -webkit-transition: width .3s ease;
  transition: width .3s ease;
}
.footer-links li:hover .fa-li {
  width: 1.5em;
}
.footer-links .active a {
  color: #F68921;
}
@media (min-width: 768px) {
  #profil-meni {
    display: block!important;
  }
}
@media(max-width:767px) {
  .navbar-brand img {
    /* width: 50%; */
    width: 200px;
    margin-top: 8px;
  }
  .bg-home {
    min-height: 100vh;
    height: auto;
  }
  h1, h2 {
    font-size: 4rem;
  }
  .home-content {
    position: relative;
    width: 90%;
    margin-top: 50vh;
    bottom: 10vh;
  }
  .home-content .btn {
    display: block;
    width: 100%;
  }
  .tekst-pocetna {
    position: relative;
    top: auto;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    padding: 10vh 0;
  }
  .row-eq-height {
    display: block;
  }
  .pt-xs-15, .py-xs-15 {
    padding-top: 15px!important;
  }
  .pb-xs-15, .py-xs-15 {
    padding-bottom: 15px!important;
  }
  .pr-xs-15, .px-xs-15 {
    padding-right: 15px!important;
  }
  .pl-xs-15, .px-xs-15 {
    padding-left: 15px!important;
  }
  .pt-xs-0, .py-xs-0 {
    padding-top: 0!important;
  }
  .pb-xs-0, .py-xs-0 {
    padding-bottom: 0!important;
  }
  .pl-xs-0, .px-xs-0 {
    padding-left: 0!important;
  }
  .pr-xs-0, .px-xs-0 {
    padding-left: 0!important;
  }
  .mt-xs-15, .my-xs-15 {
    margin-top: 15px!important;
  }
  .mb-xs-15, .my-xs-15 {
    margin-bottom: 15px!important;
  }
  .mb-xs-3, .my-xs-3 {
    margin-bottom: 3rem!important;
  }
  .mt-xs-3, .my-xs-3 {
    margin-top: 3rem!important;
  }
  .mt-xs-2, .my-xs-2 {
    margin-top: 2rem!important;
  }
  .mb-xs-2, .my-xs-2 {
    margin-bottom: 2rem!important;
  }
  .mt-xs-1, .my-xs-1 {
    margin-top: 1rem!important;
  }
  .mb-xs-1, .my-xs-1 {
    margin-bottom: 1rem!important;
  }
  .mt-xs-0, .my-xs-0 {
    margin-top: 0rem!important;
  }
  .mb-xs-0, .my-xs-0 {
    margin-bottom: 0rem!important;
  }
  .mr-xs-0, .mx-xs-0 {
    margin-right: 0rem!important;
  }
  .ml-xs-0, .mx-xs-0 {
    margin-left: 0rem!important;
  }
  .pb-xs-3, .px-xs-3 {
    padding-bottom: 3rem!important;
  }
  .pt-xs-3, .px-xs-3 {
    padding-top: 3rem!important;
  }
  .pt-xs-2, .py-xs-2 {
    padding-top: 2rem!important;
  }
  .pb-xs-2, .py-xs-2 {
    padding-bottom: 2rem!important;
  }
  /* .panel-profil .slika {
    top: -75px;
  }
  .panel-profil .promeni-slika {
    top: 29px;
  }
  .panel-profil .kopce {
    bottom: 17px;
  } */
  .vozam .tekst, .vozime .tekst {
    /* position: relative; */
    width: 90%;
    /* top: auto; */
    /* transform: translateX(-50%); */
  }
  .filterprebaruvanje-xs-inputs {
    display: block;
  }
  .bulet {
    top: 2.5px;
  }
  .destinacii .destinacija-pocetna {
    padding: 0 0 15px 0;
  }
  .destinacii .destinacija-prva {
    padding: 0 0 10px 0;
  }
  .destinacii .destinacija-vtora {
    padding: 0 0 10px 0;
  }
  .destinacii .destinacija-krajna {
    padding: 5px 0 0 0;
  }
  .lineChecked {
    height:22px;
  }
  .lineUnChecked {
    height:15px;
  }
  .addthis_inline_share_toolbox_vbrd {
    position: relative;
  }
  .destinacii .destinacija .saat {
    font-size: 12px;
  }
  #map {
    height: 40vh!important;
  }
  .dl-horizontal dt, .dl-horizontal dd  {
    float: left;
    margin: 0;
  }
  .dl-horizontal dt {
    text-align: right;
    font-weight: bold;
    width: 3rem;
    margin-right: 10px;
    white-space: nowrap;
  }
  .dl-horizontal dd {
    width: calc(100% - 4.5rem);
  }
  .komentar img {
    max-width: 100%;
    max-height: 100%;
  }
  .d-xs-block {
    display: block;
  }
  .profil .panel {
    min-height: auto;
  }
  .btn-meni {
    border-radius: 0;
    text-align: left;
  }
  .btn-meni i {
    line-height: 1.6;
  }
  .btn-meni:focus {
    outline: 0;
    outline-offset: 0;
  }
  .profil .nav-pills li {
    width: 99%;
  }
  .profil .nav-pills li a {
    padding: 7.5px 15px;
  }
  .profil .nav-pills i {
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
    text-align: left;
    margin-bottom: 0;
  }
  .profil .nav-pills span {
    margin-left: 35px;
  }
  .text-xs-center {
    text-align: center;
  }
  .pt-xs-22 {
    padding-top: 22px!important;
  }
  .mt-xs-22 {
    margin-top: 22px;
  }
}
.ohnohoney {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  height: 0;
  width: 0;
  z-index: -1;
}
